:root {
  --primary-color: #072e4e;
  --secondary-color: #0f99b7;
  --default-color: #dbf5ff;
  --heading-font-family: "Martel Sans", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --sub-background-gradient: linear-gradient(
    360deg,
    #caedff 10%,
    rgba(198, 241, 255, 0.05) 26%
  );
  --main-background-gradient: linear-gradient(
    to top,
    #e5eef7,
    #d8e5f1,
    #dbe7f3,
    #b0dae9
  );
}
body {
  margin-bottom: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}
h1 {
  font-size: 82.25px;
  line-height: 1.5;
}
h2 {
  font-size: 63px;
  line-height: 1.5;
}
p {
  font-family: var(--default-font-family);
  font-size: 17px;
  line-height: 35px;
}
.navbar-bg {
  background-color: #061b2d;
}
.hero {
  background: var(--main-background-gradient);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-color);
}
.desc-content {
  margin: 0 15%;
}
.row-block {
  background: var(--sub-background-gradient);
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-branding-outline:hover {
  background: var(--primary-color);
  color: white;
}
.images {
  max-width: 300px;
  padding: 90px 30px;
  height: auto;
  margin: 280px 140px;
  background: var(--default-color);
}
.img-work {
  max-width: 370px;
  background: var(--default-color);
  height: auto;
}
.badges {
  max-width: 150px;
  padding: 55px 30px;
  height: auto;
  margin: 25px 155px;
  background: var(--default-color);
}
.project-description {
  padding: 110px 60px;
}
.skills {
  background: var(--main-background-gradient);
}

.skills ul {
  list-style-type: "✔️ ";
}
.coder-skills {
  text-align: center;
}
.coder-skills img {
  border-radius: 50%;
  background: var(--default-color);
  margin: 0 auto;
  padding: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
}
.coder-skill {
  display: inline-block;
  margin: 15px 20px 0 0;
}
.coder-skills ul {
  list-style: none;
}
.main-box {
  background: linear-gradient(
    180deg,
    #caedff 10%,
    rgba(198, 241, 255, 0.05) 25%
  );
}

.content-container {
  padding: 100px 20px;
  padding-bottom: 70px;
}
.content-container h1 {
  font-size: 54px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content {
  margin: 30px;
  margin-top: 80px;
}
.content h1 {
  font-size: 54px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 22px;
  line-height: 1.5;
  margin: 20px 0 0;
}
.content p {
  font-size: 18px;
}
.my-name {
  color: var(--secondary-color);
  animation: text 2s alternate infinite;
}
@keyframes text {
  0% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--primary-color);
  }
}
.my-image {
  border: 7px solid var(--secondary-color);
  max-width: 470px;
  margin: 20px 70px;
  margin-top: 80px;
  animation: image 6s alternate infinite;
}

@keyframes image {
  0% {
    border: 7px solid var(--secondary-color);
  }
  50% {
    border: 7px solid #0c98b8;
  }
  75% {
    border: 7px solid var(--primary-color);
  }
  100% {
    border: 7px solid #0dc0e8;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
@media (max-width: 960px) {
  h1 {
    font-size: 43px;
    line-height: 56px;
  }
  h2 {
    font-size: 40px;
    line-height: 30px;
  }

  .hero {
    padding: 80px 20px;
  }
  .desc-content {
    margin: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .badges {
    max-width: 170px;
    padding: 20px 15px;
    height: 130px;
    margin: 5px 70px;
  }
  .align-badges {
    text-align: center;
  }
  .img-work {
    max-width: 350px;
    padding: 20px o;
    height: 290px;
    margin: 5px 70px;
  }

  .content-container {
    text-align: center;
    padding: 0;
    margin: 0 -8px;
  }
  .content p {
    font-size: 14px;
  }
  .skills {
    background: none;
    text-align: center;
  }
  .skills h1 {
    font-size: 35px;
  }

  .skills-units {
    background: var(--sub-background-gradient);
  }
  .btn-branding-outline {
    background: var(--primary-color);
    color: white;
  }
  .my-image {
    max-width: 350px;
    margin: 20px 33px;
  }
  .footer-text {
    text-align: center;
    font-size: 10px;
  }
}
.contact-link {
  text-decoration: none;
  color: #142a2f;
}
.footer-text {
  text-align: center;
  font-size: 15px;
}
.footer-links {
  text-decoration: none;
  color: #2372b3;
}
