/* font-family: 'Merienda', cursive;
font-family: 'Source Serif Pro', serif; */
:root {
  --primary-color: #072e4e;
  --secondary-color: #edf5f8;
  --heading-font-family: "Source Serif Pro", serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --sub-background-gradient: linear-gradient(
    180deg,
    #f0f9fe 0%,
    rgba(212, 244, 255, 0.05) 100%
  );
  --main-background-gradient: linear-gradient(
    to top,
    #e5eef7,
    #d8e5f1,
    #dbe7f3,
    #b0dae9
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-familyfont-family);
  color: black;
  font-weight: bold;
}
h1 {
  font-size: 81.25px;
  line-height: 1.5;
}
h2 {
  font-size: 63px;
}
p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 30px;
}
.navbar-bg {
  background-color: #061b2d;
}
.hero {
  background: var(--main-background-gradient);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: var(--primary-color);
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-branding-outline:hover {
  background: var(--primary-color);
  color: white;
}
.images {
  max-width: 300px;
  height: auto;
  padding: 100px 30px;
  margin: 43px 166px;
  background: var(--secondary-color);
}
.project-description {
  padding: 110px 60px;
}
.my-image {
  border: 7px solid var(--primary-color);
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 43px;
    line-height: 2;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .footer-text {
    text-align: center;
    font-size: 10px;
  }
}

.footer-text {
  text-align: center;
  font-size: 15px;
}
.footer-links {
  text-decoration: none;
  color: #2372b3;
}
