:root {
  --primary-color: #072e4e;
  --secondary-color: #0f99b7;
  --default-color: #dbfaff;
  --heading-font-family: "Martel Sans", sans-serif;
  --default-font-family: "Poppins", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --sub-background-gradient: linear-gradient(
    360deg,
    #ebffff 10%,
    rgba(198, 241, 255, 0.05) 26%
  );
  --main-background-gradient: linear-gradient(
    to top,
    #e5f5f7,
    #cef0f1,
    #defbf7,
    #cef3f2
  );
}
body {
  margin-bottom: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 47px;
}
h3 {
  font-size: 40px;
}
p {
  font-family: var(--default-font-family);
  font-size: 18px;
}
p .paragraph {
  max-width: 600px;
}
.home-projects li {
  list-style: none;
}
a {
  text-decoration: none;
}
.home-projects a {
  color: #07345b;
  font-size: 30px;
}
.home-projects a:hover {
  color: #006a4a;
  font-size: 30px;
}
.home-projects .img-fluid {
  width: 60%;
  height: 60%;
}

.logo {
  width: 60px;
  height: 60px;
  color: #0c98b8;
}
.navbar-bg {
  background-color: #061b2d;
}
.hero {
  background: var(--main-background-gradient);
  padding: 100px 20px;
}

.hero p {
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);

  color: var(--primary-color);
}
.card {
  background: var(--main-background-gradient);
  width: 85%;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}
/* .row-block {
  background: var(--sub-background-gradient);
  margin-top: -50px;
} */

.btn-branding {
  background: var(--primary-color);
  color: white;
  transition: all 100ms ease-in-out;
  font-size: 22px;
}
.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
.btn-branding-outline:hover {
  background: var(--primary-color);
  color: white;
}
.btn-branding:hover {
  background: var(--secondary-color);
  color: white;
}
.images {
  width: 300px;
  height: 300px;
  padding: 30px 30px;
  background: var(--default-color);
}
.img-work {
  max-width: 370px;
  background: var(--default-color);
  height: auto;
}

/* .project-description {
  padding: 100px 60px;
} */
.skills {
  background: var(--main-background-gradient);
}

.skills ul {
  list-style-type: "✔️ ";
}
.coder-skills {
  text-align: center;
}
.coder-skills img {
  background: var(--default-color);
  margin: 0 auto;
  padding: 10px;
  width: 60px;
  height: 60px;

  border-radius: 50%;
}
.coder-skill .cert-img {
  width: 210px;
  height: 210px;
}
.coder-skill {
  display: inline-block;
  margin: 15px 20px 0 0;
}
.coder-skills ul {
  list-style: none;
}
.main-box {
  background: linear-gradient(
    180deg,
    #e6fcfd 10%,
    rgba(198, 255, 245, 0.05) 25%
  );
}

.content-container h1 {
  font-size: 54px;
  line-height: 80px;
}
.content-container h2 {
  font-family: var(--default-font-family);
}
.content {
  margin: 30px;
  margin-top: 80px;
}
.content h1 {
  font-size: 54px;
  line-height: 80px;
}

.content h2 {
  font-family: var(--default-font-family);
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 22px;
  line-height: 1.5;
  /* margin: 20px 0 0; */
}

.running-line-container {
  overflow: hidden;
}

.running-line {
  overflow: hidden;
  position: relative;
  animation: runningLine 30s infinite linear forwards;
}
.slidein-text {
  color: #090a1a;
  opacity: 0.9;
  font-size: 35px;
  font-weight: bold;

  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  animation-name: slidein;
  animation-duration: 2.7s;
}
.rotating {
  animation: rotating 10s linear infinite;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes runningLine {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.highlighted-text {
  color: var(--secondary-color);
  animation: text 2s alternate infinite;
}
.contact-link {
  text-decoration: none;
  color: #142a2f;
}
.work {
  margin-top: 150px;
  margin-bottom: 50px;
}
footer {
  margin-top: 80px;
}
.footer-text {
  font-size: 17px;
}
.footer-links {
  text-decoration: none;
  color: #2372b3;
}
footer .social-links a {
  margin: 0 10px;
  padding: 8px 10px;
  color: var(--primary-color);
  background: var(--default-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover,
.contact-link:hover {
  color: white;
  background: var(--primary-color);
}

@keyframes text {
  0% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--primary-color);
  }
}
.my-image {
  border: 7px solid var(--secondary-color);
  max-width: 470px;
  margin: 20px 70px;
  margin-top: 80px;
  animation: image 6s alternate infinite;
}

@keyframes image {
  0% {
    border: 7px solid var(--secondary-color);
  }
  50% {
    border: 7px solid #0c98b8;
  }
  75% {
    border: 7px solid var(--primary-color);
  }
  100% {
    border: 7px solid #0dc0e8;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 25px;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .hero {
    padding: 80px 20px;
  }
  .slidein-text {
    font-size: 25px;
  }
  .card-title {
    font-size: smaller;
  }
  .btn-branding {
    background: var(--primary-color);
    color: white;
    transition: all 100ms ease-in-out;
    font-size: 20px;
  }
  p .paragraph {
    max-width: 400px;
  }
  /* .project-description {
    padding: 0;
    text-align: center;
  } */

  .img-work {
    max-width: 350px;
    padding: 20px o;
    height: 290px;
    margin: 5px 70px;
  }

  .content-container {
    padding: 0;
    margin: 0 -8px;
  }
  .content-container h1 {
    font-size: 33px;
    line-height: 39px;
  }
  .work {
    margin-top: 80px;
    margin-bottom: 10px;
  }
  /* .row-block {
    margin-top: 20px;
  } */
  .content p {
    font-size: 14px;
  }
  .content h1 {
    line-height: 57px;
    font-size: 39px;
  }
  .skills {
    background: none;
    text-align: center;
  }
  .skills h1 {
    font-size: 35px;
  }
  .coder-skill .cert-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .skills-units {
    background: var(--sub-background-gradient);
  }
  .btn-branding-outline {
    background: var(--primary-color);
    color: white;
  }
  .my-image {
    max-width: 350px;
    margin: 20px 33px;
  }
  .footer-text {
    text-align: center;
    font-size: 10px;
  }

  .running-line {
    animation: runningLine 25s infinite linear forwards;
    position: relative;
  }
  @keyframes runningLine {
    0% {
      transform: translate(0, -100%);
    }

    50% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(0, 100%);
    }
  }
}
